.devka {
    position: fixed;
    right: 0;
    top: 0;
}
#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none;
}
.version-bar{
    position: fixed;
    bottom: -3%;
    left: 80%;
}
td {
    border: 2px solid #ffffff3f;
    border-collapse: collapse;
    padding: 2px;
    align-content: center;
}
tr {
}
table {
    border-collapse: collapse;
    color: white;
    #font-weight: bold
}
tr:hover {
    background-color: inherit;
}
th:first-child {
    border: none;
}
button {
    margin: 2px;
    font-family: 'Segoe Print', sans-serif;
    box-shadow: 2px 2px #00000036;
    border: none;
    border-radius: 10%;
}
body {

    font-family: 'Segoe Print', sans-serif;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,194,236,1) 0%, rgba(63,147,164,1) 100%);
}
.asterios-info {
    position: fixed;
    bottom: 3%;
    left: 3%;
}